#details {
	background-color: #16181d;
	padding-bottom: 48px;
	padding-top: 48px;
	text-align: center;
}

.details {

	&--title {

		&_women,
		&_building {
			margin-bottom: 28px;
		}

		&_building {
			margin-top: 88px;
		}

		&_event {
			margin-bottom: 36px;
			margin-top: 68px;
		}
	}

	.btn-corp {
		margin-top: 48px;
		margin-bottom: 26px;
	}
}
