.balls
	.row
		.col-12.d-md-flex.flex-md-wrap
			.balls--ball.d-flex.flex-sm-column.flex-md-row.justify-content-sm-center.justify-content-md-start.align-items-center
				.balls--img
					.rhombus.rhombus_ball
						.rhombus--icon
							| 120
				.balls--caption
					| Количество гостей в&nbsp;платьях <br />и&nbsp;костюмах

			.balls--ball.d-flex.flex-sm-column.flex-md-row.justify-content-sm-center.justify-content-md-start.align-items-center
				.balls--img
					.rhombus.rhombus_ball
						img.rhombus--icon(src="img/icons/icon-event-style.png", alt="Шоу-программа", height="31", width="51")
				.balls--caption
					| Вечеринка в&nbsp;стиле Великий Гетсби
			.balls--ball.d-flex.flex-sm-column.flex-md-row.justify-content-sm-center.justify-content-md-start.justify-content-lg-end.align-items-center
				.balls--img
					.rhombus.rhombus_ball
						.rhombus--icon
							| 36
				.balls--caption
					| Средний возрас мужчин

			.balls--ball.d-flex.flex-sm-column.flex-md-row.justify-content-sm-center.justify-content-md-start.justify-content-lg-end.align-items-center
				.balls--img
					.rhombus.rhombus_ball
						.rhombus--icon
							img.rhombus--icon(src="img/icons/icon-entrance.png", alt="Шоу-программа", height="60", width="60")
				.balls--caption
					| 50&nbsp;000&nbsp;&mdash; 80&nbsp;000&nbsp;р. <br />вход для мужчин
