.balls
	.row
		.col-12.d-md-flex.flex-md-wrap
			.balls--ball.d-flex.flex-sm-column.flex-md-row.justify-content-sm-center.justify-content-md-start.align-items-center
				.balls--img
					.rhombus.rhombus_ball
						img.rhombus--icon(src="img/icons/icon-forbidden-photo.png", alt="Запрещена любая съемка", height="35", width="35")
				.balls--caption
					| Конфиденциальность. <br/>Запрещена любая съемка

			.balls--ball.d-flex.flex-sm-column.flex-md-row.justify-content-sm-center.justify-content-md-start.align-items-center
				.balls--img
					.rhombus.rhombus_ball
						img.rhombus--icon(src="img/icons/icon-show-program.png", alt="Шоу-программа", height="40", width="25")
				.balls--caption
					| Шоу-программа, закуски,
					br.d-sm-none.d-md-block
					| кальян и&nbsp;хороший алкоголь
			.balls--ball.d-flex.flex-sm-column.flex-md-row.justify-content-sm-center.justify-content-md-start.justify-content-lg-end.align-items-center
				.balls--img
					.rhombus.rhombus_ball
						.rhombus--icon
							| 50
				.balls--caption
					| Избранных мужчин

			.balls--ball.d-flex.flex-sm-column.flex-md-row.justify-content-sm-center.justify-content-md-start.justify-content-lg-end.align-items-center
				.balls--img
					.rhombus.rhombus_ball
						.rhombus--icon
							| 150
				.balls--caption
					| Прекрасных женщин
