.slider.slider_building
	.slider--title-container

	.slider--wrapper
		// Swiper
		.swiper-container.swiper-container_visible
			.swiper-wrapper
				.swiper-slide(style="background-image:url(http://lorempixel.com/1000/1000/nightlife/1)") Slide 1
				.swiper-slide(style="background-image:url(http://lorempixel.com/1000/1000/nightlife/2)") Slide 2
				.swiper-slide(style="background-image:url(http://lorempixel.com/1000/1000/nightlife/3)") Slide 3
				.swiper-slide(style="background-image:url(http://lorempixel.com/1000/1000/nightlife/4)") Slide 4
				.swiper-slide(style="background-image:url(http://lorempixel.com/1000/1000/nightlife/5)") Slide 5

			// Nav
			.slider--btn.slider--btn_prev.rhombus.rhombus_slider-nav
				svg.rhombus--icon
					use(xlink:href="img/sprites.svg#arrow-left")
			.slider--btn.slider--btn_next.rhombus.rhombus_slider-nav
				svg.rhombus--icon
					use(xlink:href="img/sprites.svg#arrow-right")
