.slider.slider_women.d-md-flex.align-items-md-end.justify-content-md-between
	.slider--title-container

		// Title
		.title.details--title.details--title_women.slider--title
			.title--header.title--header_design Девушки
			.title--subheader.title--subheader_design.title--subheader_theme_gray Которые будут на мероприятии

		// Nav
		.slider--nav
			.slider--btn.slider--btn_prev.rhombus.rhombus_slider-nav
				svg.rhombus--icon
					use(xlink:href="img/sprites.svg#arrow-left")
			.slider--btn.slider--btn_next.rhombus.rhombus_slider-nav
				svg.rhombus--icon
					use(xlink:href="img/sprites.svg#arrow-right")

	.slider--wrapper
		// Swiper
		.swiper-container
			.swiper-wrapper
				.swiper-slide(style="background-image:url(img/women/1.jpg)")
				.swiper-slide(style="background-image:url(img/women/2.jpg)")
				.swiper-slide(style="background-image:url(img/women/3.jpg)")
				.swiper-slide(style="background-image:url(img/women/4.jpg)")
				.swiper-slide(style="background-image:url(img/women/5.jpg)")
				.swiper-slide(style="background-image:url(img/women/6.jpg)")
				.swiper-slide(style="background-image:url(img/women/7.jpg)")
				.swiper-slide(style="background-image:url(img/women/8.jpg)")
				.swiper-slide(style="background-image:url(img/women/9.jpg)")
				.swiper-slide(style="background-image:url(img/women/10.jpg)")
				.swiper-slide(style="background-image:url(img/women/11.jpg)")
				.swiper-slide(style="background-image:url(img/women/12.jpg)")
				.swiper-slide(style="background-image:url(img/women/13.jpg)")
				.swiper-slide(style="background-image:url(img/women/14.jpg)")
				.swiper-slide(style="background-image:url(img/women/15.jpg)")
