/// Bem Block Title

.title {

	&--header {
		font-family: $font-family-header;
		font-size: 28px;
		font-weight: 400;
		line-height: 28px;
		margin-bottom: 8px;

		&_hero {
			font-size: 48px;
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 52px;
			margin-bottom: 20px;
		}

		&_event-desc {
			font-size: 32px;
			/*line-height: 24px;*/
			line-height: 36px;
			margin-bottom: 6px;
		}

		&_ball {
			color: $corporate-color-gold;
			font-size: 44px;
			line-height: 24px;
		}
	}

	&--subheader {
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 0.28px;
		line-height: 20px;
		margin-bottom: 0;

		&_theme_gray {
			color: $corporate-color-gray;
		}

		&_event-desc {
			letter-spacing: 0.25px;
		}

		&_ball {
			letter-spacing: 0.26px;
		}
	}
}
