$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
	// Extra small screen / phone
	xs: 0,
	// Small screen / phone
	sm: 320px,
	// Medium screen / tablet
	md: 1024px,
	// Large screen / desktop
	lg: 1440px
);

$container-max-widths: (
	sm: 280px,
	md: 960px,
	lg: 1140px
);
