section#details.details
	.container
		.row
			.col-12
				.details--slider.details--slider_women
					include ../blocks/swiper_women

		.row
			.col-12
				.title.details--title.details--title_event
					.title--header.title--header_design.title--header_event
						| Детали мероприятия
					.title--subheader.title--subheader_design.title--subheader_theme_gray.mx-n1
						| Экосистема качественного отдыха, объединяющая успешных мужчин и&nbsp;красивых женщин

		.row
			.col-12
				.details--balls
					include ../blocks/balls

		.row
			.col-12
				.title.details--title.details--title_building
					.title--header.title--header_design
						| Фотографии особняка

	.details--slider.details--slider_building
		.container
			.row
				.col-12.col-md-10.col-lg-11.mx-auto
					include ../blocks/swiper_building
			.row
				a.btn.btn-corp.mx-auto(href="tg://resolve?domain=katyamillionairebot")
					| Оставить заявку
