section#details.details
	.container
		.row
			.col-12
				.details--slider.details--slider_women
					include ../blocks/swiper.html

		.row
			.col-12
				.title.details--title.details--title_event
					.title--header.title--header_design.title--header_event
						| Детали мероприятия
					.title--subheader.title--subheader_design.title--subheader_theme_gray.mx-n1
						| Экосистема качественного отдыха, объединяющая успешных мужчин и&nbsp;красивых женщин
			.col-12
				include ../blocks/balls

		.row
			.col-12
				.title.details--title.details--title_building
					.title--header.title--header_design
						| Фотографии особняка
		.row
			.col-12
				.slider

		.row
			a.btn.btn-corp.mx-auto(href="#")
				| Оставить заявку
