section#details.details
	.container
		.row
			.col-12
				.details--slider.details--slider_women
					include ../blocks/swiper.html

		.row
			.col-12
				.title.details--title.details--title_event
					.title--header.title--header_design.title--header_event
						| Детали мероприятия
					.title--subheader.title--subheader_design.title--subheader_theme_gray.mx-n1
						| Экосистема качественного отдыха, объединяющая успешных мужчин и&nbsp;красивых женщин
			.col-12
				.balls.details-balls
					.balls--ball.d-flex.flex-column.flex-md-row.justify-content-center.align-items-center
						.balls--img
							.rhombus.rhombus_ball
								img.rhombus--icon(src="img/icons/icon-forbidden-photo.png", alt="Запрещена любая съемка", height="35", width="35")
						.balls--caption
							| Конфиденциальность. <br/>Запрещена любая съемка

					.balls--ball.d-flex.flex-column.flex-md-row.justify-content-center.align-items-center
						.balls--img
							.rhombus.rhombus_ball
								img.rhombus--icon(src="img/icons/icon-show-program.png", alt="Шоу-программа", height="40", width="25")
						.balls--caption
							| Шоу-программа, закуски, кальян и&nbsp;хороший алкоголь

					.balls--ball.d-flex.flex-column.flex-md-row.justify-content-center.align-items-center
						.balls--img
							.rhombus.rhombus_ball
								.rhombus--icon
									| 50
						.balls--caption
							| Избранных мужчин

					.balls--ball.d-flex.flex-column.flex-md-row.justify-content-center.align-items-center
						.balls--img
							.rhombus.rhombus_ball
								.rhombus--icon
									| 150
						.balls--caption
							| Прекрасных женщин

		.row
			.col-12
				.title.details--title.details--title_building
					.title--header.title--header_design
						| Фотографии особняка
		.row
			.col-12
				.slider

		.row
			a.btn.btn-corp.mx-auto(href="#")
				| Оставить заявку
