#hero.hero
	.container
		.hero--top.row.justify-content-between.align-items-center
			img.logo.logo_denim(src="img/logo/denim.png", alt="denim", height="22" width="63")
			img.logo.logo_secret(src="img/logo/secret.png", alt="secret" height="40" width="103")

		.row
			.title
				h1.title--header.title--header_hero
					| ВЕЛИКИЙ ГЭТСБИ
				h2.title--subheader.title--subheader_hero
					| Яркая и несдержанная закрытая вечеринка полная безудержного веселья и свободная от любых рамок

		.row
			a.btn.btn-corp(href="#")
				| Получить программу мероприятия
