section#hero.hero
	.container
		.row.hero--top.justify-content-between.align-items-center
			img.logo.logo_denim(src="img/logo/denim.png", alt="denim", height="22" width="63")
			img.logo.logo_secret(src="img/logo/secret.png", alt="secret" height="40" width="103")

		.row
			.title.hero--title
				h1.title--header.title--header_hero
					| ВЕЛИКИЙ ГЭТСБИ
				h2.title--subheader.title--subheader_hero
					| Яркая и несдержанная закрытая вечеринка полная безудержного веселья и свободная от любых рамок

		.row
			a.btn.btn-corp(href="#")
				| Получить программу мероприятия

		.row.event-desc
			.col
				.title
					.title--header.title--header_event-desc 24&ndash;25
					.title--subheader.title--subheader_event-desc Мая 2019
			.col
				.title
					.title--header.title--header_event-desc 21:00
					.title--subheader.title--subheader_event-desc Начало
			.col
				.title.mt-sm-4.mt-md-0
					.title--header.title--header_event-desc
						| 1500 м
						sup 2
					.title--subheader.title--subheader_event-desc
						| Особняк. Москва, р-н Строгино

		.row
			.col-12
				h3.cta
					| Пришли нам любое сообщение в&nbsp;Telegram и&nbsp;мы&nbsp;вышлем <br/>тебе программу мероприятия.
