#hero.hero
	.container
		.row.justify-content-md-center
			.col.col-lg-2
				| 1 of 3
			.col-md-auto
				| Variable width content
			.col.col-lg-2
				| 3 of 3
		.row
			.col
				| 1 of 3
			.col-md-auto
				| Variable width content
			.col.col-lg-2
				| 3 of 3
