/// Bem Block "balls"
/// require rhombus

.balls {

	&--ball {

		@media (min-width: 1024px) {
			padding: 14px 26px;
			width: 465px;
			text-align: left;
		}

		& + .balls--ball {

			@media (max-width: 1023.98px) {
				margin-top: 36px;
			}
		}
	}

	&--img {
		@media (max-width: 1023.98px) {
			margin-bottom: 12px;
		}

		@media (min-width: 1024px) {
			margin-right: 31px;
		}
	}

	&--caption {
		font-size: 14px;
		letter-spacing: 0.26px;
		line-height: 20px;
	}
}
