// Bem Block Slider

.slider {
	position: relative;

	&_women {

		.slider {

			&--title {

				&-container {
					position: relative;
					z-index: 3;

					@media (min-width: 1024px) {
						/*width: 333px;*/
						width: 0;
					}

					&:before,
					&:after {
						@media (min-width: 1024px) {
							content: '';
							display: block;
							position: absolute;
							left: 158px;
							width: 1px;
							background-color: #282a39;
							z-index: 4;
						}
					}

					&:before {
						height: 192px;
						top: -224px;
					}

					&:after {
						height: 112px;
						bottom: -100px;
					}
				}
			}

			&--nav {
				display: none;
				width: 92px;
				height: 196px;
				margin-bottom: 52px;
				margin-left: 112px;
				overflow: hidden;

				@media (min-width: 1024px) {
					display: block;
				}
			}

			&--wrapper {

				@media (min-width: 1024px) {
					height: 492px;
				}

				@media (min-width: 1024px) and (max-width: 1439.98px) {
					width: 570px;
				}

				@media (min-width: 1440px) {
					width: 855px;
				}


			}
		}

		.slider--btn + .slider--btn {
			margin-top: 40px; // 28px + 12px
		}

		.swiper-slide {
			width: 200px;
			height: 316px;

			@media (min-width: 1024px) {
				width: 285px;
				height: 432px;
			}

			&:nth-child(2n+1) {
				align-self: flex-end;
			}
		}
	}

	&_building {

		@media (max-width: 1023.98px) {
			margin-left: -27px;
			margin-right: -27px;
		}

		@media (min-width: 1440px) {
			margin-left: -15px;
			margin-right: -15px;
		}

		.slider {

			&--btn {
				position: absolute;
				top: 50%;
				/*top: calc(50% - 46px);*/
				margin-top: -32.5px;

				@media (max-width: 1023.98px) {
					display: none;
				}

				&_prev {
					left: -46px;
				}

				&_next {
					right: -46px;
				}
			}
		}

		.swiper-slide {
			width: 300px;
			height: 200px;

			@media (min-width: 1024px) {
				width: 563px;
				height: 340px;
				margin-right: 25px !important;

				&:last-child {
					margin-right: 0 !important;
				}
			}

			&-prev {
				background: 1px solid red;

				@media (min-width: 1024px) and (max-width: 1439.98px) {
					right: 53px;
				}

				@media (min-width: 1440px) {
					right: 99px;
				}
			}
		}
	}
}
